{% extends 'base.html.twig' %}

{% block title %}Damien Carli · Mon Blog{% endblock %}

{% block body %}
    <div class="container p-5 mt-5">

        <div class="card fx-row white">

            <div class="d-flex fx-col fx-grow">
                <div class="card-header font-s8">Glass Onion</div>
                <div class="card-header font-s4 uppercase">Une histoire à couteaux TROP tirés</div>
                <div class="card-content truncate" style="width: 60rem">
                    <p>
                        Le détective de renommée mondiale Benoit Blanc se rend en Grèce pour élucider un mystère
                        impliquant un milliardaire et son équipe hétéroclite d'amis.
                    </p>
                </div>
            </div>

            <div class="d-flex vcenter fx-center p-4">
                <img data-waves src="https://picsum.photos/400/250?random=1" alt="img1" class="responsive-media"/>
            </div>
        </div>

        <hr>

        <div class="card fx-row white">

            <div class="d-flex vcenter fx-center p-4">
                <img data-waves src="https://picsum.photos/400/250?random=1" alt="img1"/>
            </div>

            <div class="d-flex fx-col fx-grow">
                <div class="card-header font-s8">Wednesday</div>
                <div class="card-header font-s4 uppercase">Une histoire à couteaux TROP tirés</div>
                <div class="card-content" style="width: 60rem">
                    <p class="truncate">
                        La série Mercredi (Wednesday) est une adaptation de la bande dessinée "The Addams Family" de
                        Charles Addams. Elle suit les aventures de la famille Addams, une famille de personnages
                        macabres et excentriques, qui vivent dans une grande maison hantée. La série explore les
                        relations familiales, les aventures et les mystères qui entourent la famille Addams. Mercredi
                        est le personnage principal de la série, une adolescente qui essaie de trouver sa place dans le
                        monde tout en restant fidèle à ses racines macabres.
                    </p>
                </div>
            </div>

        </div>


    </div>
{% endblock %}