<nav class="navbar white m-3 rounded-1 p-5">
    <img src="https://i.ibb.co/whnNVs0/mon-avatar.png" style="width: 70px" alt="mon-avatar" border="0">
    <a href="{{ path('app_home') }}" class="font-s10 navbar-brand ml-3">L'inconnu</a>
    <div class="navbar-menu ml-auto">
        <a class="navbar-link" href="#">Livres</a>
        <a class="navbar-link" href="#">Jeux Vidéos</a>
        <a class="navbar-link" href="#">Films</a>
        <a class="navbar-link" href="#">Séries</a>
    </div>
</nav>